Package: personal.yyfll.autoclicker
Name: SimpleAutoClicker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: yyfll
Author: yyfll
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
